.about {
    &__name {
        font-size: inherit;
        line-height: inherit;
        position: relative;
        &:before {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            height: 25px;
            width: 100%;
            display: block;
            background-color: $color-green;
            z-index: -1;
            border-radius: 5px;
        }
    }
    &__wrapper {
        display: flex;
        gap: 50px;
    }
    &__box {
        width: 500px;
        &-img {
            width: inherit;
            height: inherit;
            object-fit: cover;
        }
    }
    &__text {
        padding: 20px 20px 20px 0;
    }
}
