.achievement {
    padding: 50px;
    background-color: $color-purple;
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    &__item {
        padding: 20px;
        width: 240px;
        height: 160px;
        background-color: $color-grey;
        text-align: center;
        @include shadow;
    }
    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        color: $color-green;
    }
    &__text {
        margin-top: 10px;
    }
}
