.question {
    .title {
        text-align: left;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 280px 700px;
        justify-content: space-between;
    }
    &__list {
        background-color: $color-grey;
        @include shadow;
    }
    &__item {
        border-bottom: 10px solid $color-green;
        &:first-child {
            border-top: 10px solid $color-green;
        }
        padding: 40px;
    }
    &__btn {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        &--active {
            .question__box {
                transform: rotate(90deg);
            }
        }
    }
    &__title {
        text-align: left;
    }
    &__box {
        transform: rotate(-90deg);
        width: 15px;
        transition: .2s all;
        &-img {
            width: inherit;
            height: auto;
        }
    }
    &__descr {
        max-height: 0;
        transition: .2s all;
        opacity: 0;
        overflow: hidden;
        &-list {
            list-style: inside;
            list-style-type: decimal;
        }
        &--active {
            opacity: 1;
            overflow: visible;
            margin-top: 20px;
        }
    }
}