@import 'libs/bootstrap-reboot.min';
@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    color: $color-black;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    text-decoration: none;
}

section {
    margin-top: 100px;
}

picture {
    display: block;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
    border-radius: inherit;
}

.button {
    font-weight: 700;
    padding: 15px 70px;
    background-color: $color-purple;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: .2s all;
    border: none;
    color: $color-grey;
    &:hover {
        background-color: $color-purple-dark;
    }
    &--close {
        position: relative;
        height: 30px;
        width: 30px;
        border: none;
        background-color: transparent;
        margin-left: auto;
        span {
            position: absolute;
            top: 50%;
            left: 0;
            height: 3px;
            width: 100%;
            &:first-child {
                transform:  translateY(-50%) rotate(45deg);
            }
            &:nth-child(2) {
                transform:  translateY(-50%) rotate(-45deg);
            }
        }
    }
}

.gift {
    position: fixed;
    padding: 15px 30px;
    right: 20px;
    bottom: 20px;
    background-color: $color-attention;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    z-index: 25;
    transition: background-color .2s;
    &__text {
        color: $color-grey;
    }
    &__box {
        height: 20px;
        width: 20px;
    }
    &__img {
        height: inherit;
        vertical-align: unset;
    }
}

.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: $color-purple-dark;
}

.logo {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    cursor: pointer;
    width: 130px;
    position: relative;
    z-index: 30;
    transition: .6s all;
    &__box {
        height: 30px;
        &-img {
            height: inherit;
        }
    }
    &__text {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        &--active {
            color: $color-grey;
        }
    }
}

.status {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__img {
        width: 50px;
        height: auto;
    }
    &__text {
        font-weight: 700;
    }
}

.visibility-hidden {
    visibility: hidden;
    height: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/achievement';
@import 'blocks/learning';
@import 'blocks/online';
@import 'blocks/price';
@import 'blocks/level';
@import 'blocks/phrase';
@import 'blocks/review';
@import 'blocks/quality';
@import 'blocks/tutor';
@import 'blocks/question';
@import 'blocks/footer';
@import 'blocks/modal';

@import 'blocks/media';